/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-color: #061f3d;
  --secondary-color: #ffffff;
  --accent-color: #6f92bd;
  --background-color: #f2f7fc;
  --sur-color: #ffffff;

  --text-primary-color: #061f3d;
  --text-secondary-color: #ffffff;
  --text-link-color: #ffffff;

  --btn-primary-color: #6f3efe;
  --btn-secondary-color: #ffffff;
  --hover-color: #ffffff;
  --border-color: #6f3efe;

  --card-blue-color: #c4d7ff;
  --card-green-color: #b7ffd2;
  --card-yellow-color: #f2ffd9;

  --text-card-blue-color: #153375;
  --text-card-green-color: #124f29;
  --text-card-yellow-color: #4c651c;

  --primary-gradient: linear-gradient(90deg, #2f00ff 25%, #c793fd 50%, #ff6cf5 75%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    'Raleway',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
